* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(0deg, rgb(2, 42, 62) 3%, rgba(60, 132, 206, 1) 38%, rgb(229, 92, 7) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
