* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  overflow-y: hidden !important;
  /* Hide vertical scrollbar */
  overflow-x: hidden !important;
  /* Hide horizontal scrollbar */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(0deg, rgb(7, 30, 82) 29%, rgb(0, 70, 149) 38%, rgb(6, 26, 69) 70%);
  animation: gradient 14s ease infinite;
  background-size: 500% 500%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.grid{
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  opacity: 40%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160vw;
  height: 200vh;
  background-image: url("./images/grid.png");
  animation: scaleAnimation 20s infinite linear; /* 5 segundos de duración, infinito y alternante */
}
.estrellas {
  opacity: 50%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 200vh;
  background-image: url("./images/estrellas.png");
  animation: scaleAnimation 5s infinite alternate, rotateAnimation 220s infinite linear; /* 5 segundos de duración, infinito y alternante */
  
}
.adelante{
  z-index: 2 !important;
}

@keyframes scaleAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
    /* Escala aumentada */
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotación completa */
}
}

.btn-outline-warning {
  background-color: #F9711C !important;
  border-color: #F9711C !important;
  color: white !important;
  
  align-self: center !important;
}

.creditos {
  font-size: 12px;
  color: #ffffff8e;
}

.card {
  border-style: none !important;
  background-color: rgba(255, 255, 255, 0.064) !important;
  border-radius: 5px !important;
  backdrop-filter: blur(18px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  height: 100vh !important;
  width: 100vw !important;
}

.columna {
  margin-top: 20vh !important;
  width: 100px !important;
}

.columna2 {
  margin-top: 35vh !important;
  width: 100px !important;
}

.contact {
  height: 48px !important;
  transition: all 1seg;
}

.contact:hover {
  transform: scale(1.2);
}

.contact2 {
  transition: all 1seg;
  margin-top: 3rem !important;
  height: 32px !important;
  width: auto !important;
  transition: all 1seg;
}

.contact2:hover {
  transform: scale(1.1);
}

.imgCard {
  height: 32vh !important;
  width: auto;

}

.logo {
  width: auto;
  height: 5vh;
  transition: all 1s
}

.logo:hover {
  transform: scale(1.2);
}

.logobtn {
  width: auto;
  height: 7vh;
  transition: all 1s
}

.logobtn:hover {
  transform: scale(1.2);
}

.areaSup {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-content: center !important;
}

.areaCentral {
  height: 68%;

}

.frente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 21;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.areaInf {
  height: 15%;
  z-index: 2 !important;

}

.videos {
  object-fit: cover;
  height: 40vh;
  width: auto;
}

.logo3d {
  position: absolute;
  z-index: 0;
  height: 90vh;
  width: 100vw;
  align-content: center;
  display: flex;
  justify-content: center;

}
.ma{
  margin-top: 6rem;
}
.pantallaArriba {
  height: 10vh !important;
}

.animaLogo {
  height: 40vh !important;
  width: auto !important;
  border-radius: 250px !important;
  border: 6px solid rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.animaLogo2 {
  height: 40vh !important;
  width: auto !important;
  border-radius: 250px !important;
  border: 6px solid rgb(255, 255, 255);
}



.carousel-caption {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.logocontent {
  height: 100% !important;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;

}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #F9711C 75%, #F9711C 100%);
  -webkit-animation: drop 5s 0s infinite;
  animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -37%;
}

.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 37%;
}

.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}


@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}


@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:up"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}